button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100%);
    font-size: 16px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#validationmessage {
    color: red;
    font-weight: bold;
}
#grade-output {
    color: green;
    font-weight: bold;
}