h2 {
    color: red;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

select {
    width: 120px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

option {
    padding: 5px;
}   